@theme {
  /* Font Families */
  --font-sans: var(--font-loRes12), sans-serif;
  --font-serif: var(--font-ppMondwest), serif;
  --font-mono: var(--font-departureMono), monospace;

  /* shadcn defaults */
  /** hiding for now
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
  */
  /* end shadcn defaults */

  /* Font Sizes & Line Heights */
  --text-xs: 12px;
  --text-xs--line-height: 16px;
  --text-sm: 14px;
  --text-sm--line-height: 20px;
  --text-md: 16px;
  --text-md--line-height: 24px;
  --text-lg: 18px;
  --text-lg--line-height: 28px;
  --text-xl: 20px;
  --text-xl--line-height: 28px;
  --text-2xl: 24px;
  --text-2xl--line-height: 32px;
  --text-3xl: 30px;
  --text-3xl--line-height: 36px;
  --text-4xl: 36px;
  --text-4xl--line-height: 40px;
  --text-5xl: 48px;
  --text-5xl--line-height: 48px;

  /* Letter Spacing */
  --tracking-narrower: -0.02em;
  --tracking-normal: 0;
  --tracking-wider: 0.05em;
}
